* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #54595d;
}
header {
    width: 100%;
    height: 5rem;
    text-align: center;
    margin-top: 4rem;
}
header img {
    width: 12rem;
}
main {
    width: 100%;
    text-align: center;
}
main .main-container-lenguajes {
    width: 40rem;
    height: 20rem;
    margin: 0 auto;
    background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
}
main .main-container-lenguajes .main-lenguajes {
    width: 20rem;
    height: 4rem;
}
main .main-container-lenguajes .lenguajes {
    width: 10rem;
}
main .main-container-lenguajes .spanish {
    margin-left: 6rem;
}
main .main-container-lenguajes .english {
    margin-left: 4rem;
}
main .main-container-lenguajes .japanese {
    margin-left: 3rem;
}
main .main-container-lenguajes .russian {
    margin-left: 7rem;
}
main .main-container-lenguajes .french {
    margin-left: 1rem;
}
main .main-container-lenguajes .german {
    margin-left: 9rem;
}
main .main-container-lenguajes .italian {
    margin-left: 3rem;
}
main .main-container-lenguajes .chinese {
    margin-left: 7rem;
}
main .main-container-lenguajes .portuguese {
    margin-left: 6rem;
}
main .main-container-lenguajes .arabic {
    margin-left: 4rem;
}
main .main-container-lenguajes .lenguajes a {
    display: block;
    text-decoration: none;
    color: #36c;
    font-weight: bold;
}
main .main-contenedor-busqueda {
    width: 30rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
main .main-contenedor-busqueda .main-busqueda {
    border: 1px solid #a2a9b1;
    border-right: none;
    border-radius: 2px 0 0 2px;
    width: 27rem;
}
main .main-contenedor-busqueda .buscador-idiomas input {
    width: 22.5rem;
    height: 2.5rem;
    border: none;
}
main .main-contenedor-busqueda .buscador-idiomas select {
    display: inline-block;
    width: 2.6rem;
    font-size: 1rem;
    margin-left: 0.2rem;
    border: none;
    background-color: white;
    color: inherit;
}
main .main-contenedor-busqueda .lupa-buscar {
    border: 1px solid #36c;
    border-radius: 0 2px 2px 0;
    background-color: #36c;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-contenedor-busqueda .lupa-buscar span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.main-container-read {
    width: 30rem;
    margin: 2.5rem auto;
}
.main-container-read .main-read-lenguaje {
    width: 20rem;
    height: 2.5rem;;
    margin: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
}

